@import "bourbon"

/*-----------------------------------------------------------------------------------*/
/*  Base styles
/*-----------------------------------------------------------------------------------*/
*
  @include box-sizing(border-box)
  outline: none

html, button, input, select, textarea
  color: #222

html
  font-size: 1em
  line-height: 1.4

body
  height: 100%
  width: 100%
  font-family: "museo-sans", sans-serif

::-moz-selection, ::selection
  background: #b3d4fc
  text-shadow: none

h1
  color: #FFF
  font-size: 42px
  font-weight: 900
  letter-spacing: -0.03em
  margin: 0 0 15px
  line-height: 1.1
  -webkit-font-smoothing: antialiased

h2
  font-size: 1.4em
  margin: .7em 0
  color: rgba(0,0,0,.55)

p
  color: #000
  color: rgba(0,0,0,.65)
  font-size: 18px
  font-weight: 700
  margin: 0
  line-height: 1.4

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

audio, canvas, img, video
  vertical-align: middle

fieldset
  border: 0
  margin: 0
  padding: 0

textarea
  resize: vertical


/*-----------------------------------------------------------------------------------*/
/*  Mixins
/*-----------------------------------------------------------------------------------*/
@mixin image2x($image, $width, $height)
  @media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx)
    background: url($image) no-repeat 0 0
    background-size: $width $height

@mixin bgImage($image, $width, $height)
  background: url($image) no-repeat 0 0
  background-size: $width $height
  width: $width
  height: $height
  display: block

@mixin animation-delay($time)
  -webkit-animation-delay: $time
  -moz-animation-delay: $time
  -ms-animation-delay: $time
  animation-delay: $time

@mixin transition-delay($time)
  -webkit-transition-delay: $time
  -moz-transition-delay: $time
  -ms-transition-delay: $time
  transition-delay: $time


/*-----------------------------------------------------------------------------------*/
/*  Global styles
/*-----------------------------------------------------------------------------------*/
.logo
  position: fixed
  left: 15px
  top: 15px
  z-index: 100

  .shoe
    margin-right: 10px

.bottom-buttons
  @include position(fixed, 0 0 15px 0px)
  z-index: 100
  padding: 0 15px
  width: 100%

  .wrapper
    position: relative

  a
    width: 50px
    height: 50px
    display: block
    float: left
    border-radius: 30px
    background-color: transparent
    box-shadow: inset 0 0 0 3px rgba(0,0,0,.35), 0 0 0 0 rgba(0,0,0,.35)
    margin-right: 6px
    @include transition(background-color .15s, box-shadow .1s)

    span
      width: 100%
      height: 100%
      display: block
      text-indent: -9999em
      opacity: .4
      background-size: 50px 50px !important
      @include transition(all .2s)

    &.share
      span
        background: url("../images/share.png") center center repeat-y
      &.active
        box-shadow: inset 0 0 0 0 rgba(0,0,0,.35), 0 0 0 3px rgba(0,0,0,.35)
        background-color: #FFF
        color: #000

        span
          opacity: 1
          background-position: center -50px

    &.twitter span
      background: url("../images/twitter.png") center center repeat-y
    &.facebook span
      background: url("../images/facebook.png") center center repeat-y
    &.google span
      background: url("../images/google.png") center center repeat-y

    &.signup-btn
      width: auto
      float: right
      margin: 0
      padding: 0 25px
      text-decoration: none
      color: rgba(0,0,0,.45)
      font-weight: 900
      font-size: 15px
      line-height: 50px
      text-align: center

    &:hover
      box-shadow: inset 0 0 0 0 rgba(0,0,0,.35), 0 0 0 3px rgba(0,0,0,.35)
      background-color: #FFF
      color: #000

      span
        opacity: 1
        background-position: center -50px

  .share-btns
    @include position(absolute, 0 0 6px 0px)

    a
      float: none
      margin: 6px 0 0 -100px
      @include transition(margin-left .25s cubic-bezier(0.175, 0.885, 0.320, 1.275))

      &.twitter
        @include transition-delay(0ms)
      &.facebook
        @include transition-delay(50ms)
      &.google
        @include transition-delay(100ms)

    &.active
      a
        margin-left: 0

        &.twitter
          @include transition-delay(100ms)
        &.facebook
          @include transition-delay(50ms)
        &.google
          @include transition-delay(0ms)

.section
  padding: 0 40px
  overflow: hidden

.animated
  opacity: 1 !important


/*-----------------------------------------------------------------------------------*/
/*  Pagination color override
/*-----------------------------------------------------------------------------------*/
#fullPage-nav
  &.right
    right: 20px

  li
    margin: 12px 0
    height: 14px
    width: 14px

  span
    border-color: rgba(0,0,0,.5)
    border-width: 3px
    width: 14px
    height: 14px
    @include transition(border .5s)

  li .active span
    border-width: 7px
    background-color: transparent

.fullPage-tooltip
  font-family: "museo-sans", sans-serif
  font-weight: 700
  font-size: 16
  top: -1px


/*-----------------------------------------------------------------------------------*/
/*  Intro
/*-----------------------------------------------------------------------------------*/
@include keyframes(spaceSpin)
  from
    @include transform(rotate(0deg))
  to
    @include transform(rotate(360deg))

.intro
  text-align: center
  background: #32b9b1 url("../images/stars.png") repeat center center

  .text
    max-width: 850px
    margin: 0 auto
    opacity: 0

    h1
      font-size: 60px
      margin-bottom: 25px

    p
      font-size: 22px

  .astronaut
    @include bgImage("../images/astronaut.png", 179px, 282px)
    margin: 80px auto 0
    @include animation(spaceSpin 15s infinite linear)

  .rocket
    @include bgImage("../images/rocket.png", 94px, 154px)
    // position: absolute
    @include transform(rotate(-30deg))

    .wrapper
      position: relative

      .exhaust
        @include position(absolute, 0 0 0 0)

  .spaceship
    @include bgImage("../images/spaceship.png", 94px, 80px)
    // position: absolute
    @include transform(rotate(-10deg))

    .wrapper
      position: relative

      .beams
        @include position(absolute, 0 0 0 0)

  .satellite
    @include bgImage("../images/satellite.png", 198px, 88px)
    // position: absolute
    @include transform(rotate(15deg))

    .wrapper
      position: relative

      .signal
        @include position(absolute, 0 0 0 0)

  .planet
    @include bgImage("../images/planet.png", 108px, 70px)
    // position: absolute


/*-----------------------------------------------------------------------------------*/
/*  Problem
/*-----------------------------------------------------------------------------------*/
@include keyframes(smokeL)
  from
    background: transparent
    @include transform(scale(0.2) translate(0,0) translateZ(0))
  50%
    background: rgba(255,255,255,.4)
  100%
    background: transparent
    @include transform(scale(1) translate(-20px,-100px) translateZ(0))


@include keyframes(smokeR)
  0%
    background: transparent
    @include transform(scale(0.2) translate(0,0) translateZ(0))
  50%
    background: rgba(255,255,255,.4)
  100%
    background: transparent
    @include transform(scale(1) translate(20px,-100px) translateZ(0))

.problem
  padding-right: 125px

  .text
    @include position(absolute, 0 0 0 100%)
    margin: 0 0 0 60px
    width: 410px
    @include animation-delay(.8s)
    opacity: 0

  .laptop
    @include bgImage("../images/laptop.png", 554px, 642px)
    @include image2x("../images/laptop@2x.png", 555px, 642px)
    @include position(absolute, 50% 0 0 10%)
    margin-top: -320px

    .wrapper
      position: relative
      width: 100%
      height: 100%

    .pencil
      @include bgImage("../images/pencil.png", 24px, 222px)
      @include position(absolute, 0 0 25px 25px)

    .screen
      @include bgImage("../images/screen.gif", 392px, 226px)
      @include image2x("../images/screen@2x.gif", 392px, 226px)
      @include position(absolute, 58px 0 0 128px)

    .hand
      @include bgImage("../images/hand.gif", 448px, 610px)
      // @include image2x("../images/hand@2x.gif", 555px, 642px)
      @include position(absolute, 290px 0 0 100%)

    .coffee
      @include bgImage("../images/coffee.gif", 171px, 162px)
      @include position(absolute, 360px -580px 0 0)

      .wrapper
        position: relative

        .smoke
          position: absolute
          z-index: 3
          width: 1px
          height: 160px
          left: 66px
          bottom: 85px

          span
            display: block
            position: absolute
            bottom: -35px
            left: 50%
            margin-left: -40px
            height: 80px
            width: 80px
            border-radius: 50%
            background: transparent
            @include transform(scale(0.2))

            &.s0
              @include animation(smokeL 10s 0s infinite)
            &.s1
              @include animation(smokeR 10s 1s infinite)
            &.s2
              @include animation(smokeL 10s 2s infinite)
            &.s3
              @include animation(smokeR 10s 3s infinite)
            &.s4
              @include animation(smokeL 10s 4s infinite)
            &.s5
              @include animation(smokeR 10s 5s infinite)
            &.s6
              @include animation(smokeL 10s 6s infinite)
            &.s7
              @include animation(smokeR 10s 7s infinite)
            &.s8
              @include animation(smokeL 10s 8s infinite)


/*-----------------------------------------------------------------------------------*/
/*  Free themes
/*-----------------------------------------------------------------------------------*/
.themes
  text-align: center
  padding: 40px 0 0

  .text
    width: 100%
    @include position(absolute, 0 0 100% 0)
    margin-bottom: 50px
    @include animation-delay(1.5s)
    opacity: 0

    p
      max-width: 800px
      margin: 0 auto

  .theme-options
    height: 400px
    width: 100%
    @include position(absolute, 50% 0 0 0)
    margin-top: -170px

    .wrapper
      position: relative
      width: 100%
      height: 100%

      .browser
        width: 500px
        height: 100%
        background: #FFF
        border-radius: 10px
        overflow: hidden
        border: 6px solid #647f32
        display: block
        position: absolute
        left: 50%
        margin-left: -250px
        box-shadow: 0 12px 0 -5px rgba(0,0,0,.08)

        .browser-bar
          width: 101%
          height: 22px
          background-color: #CCC
          border-bottom: 4px solid #647f32
          display: block
          padding: 5px 0 0 6px
          text-align: left

          span
            border-radius: 50%
            width: 8px
            height: 8px
            display: inline-block
            background-color: #647f32
            margin-right: 4px
            vertical-align: top

        &.theme-main
          box-shadow: 0 12px 0 -5px rgba(0,0,0,.08), -30px 0 0 -20px rgba(0,0,0,.1), 30px 0 0 -20px rgba(0,0,0,.1)

        &.theme-1
          height: auto
          top: 40px
          bottom: 40px

        &.theme-2
          height: auto
          top: 20px
          bottom: 20px

        &.theme-3
          height: auto
          top: 20px
          bottom: 20px

        &.theme-4
          height: auto
          top: 40px
          bottom: 40px

  .logos
    @include position(absolute, 100% 0 0 0)
    width: 100%
    margin-top: 45px
    @include animation-delay(1.5s)
    opacity: 0

    img
      margin: 0 15px


/*-----------------------------------------------------------------------------------*/
/*  Drops
/*-----------------------------------------------------------------------------------*/
.drops
  text-align: center

  .left-col
    @include position(absolute, 50% 50% 0 0)
    width: 482px
    height: 700px
    margin: -350px 30px 0 0
    @include transition(all .25s 1s)

    .text
      text-align: left
      margin-bottom: 40px
      @include animation-delay(.4s)
      opacity: 0

      p
        max-width: 800px
        margin: 0 auto

  .widget-container
    height: 134px
    width: 418px
    float: left
    border: 3px dashed rgba(255,255,255,.18)
    border-radius: 8px

    &.half
      width: 202px
      margin: 0 12px

    &.third
      width: 130px
      height: 130px
      margin: 0 20px

    &.chart
      margin: 0 0 20px 30px
    &.weather
      margin: 10px 20px 0 0
    &.profile
      margin: 20px 0 10px 20px
    &.map
      margin: 20px 0 0 12px

  .widget
    border: 4px solid #06546f
    border-radius: 8px
    box-shadow: 0 8px 0 -4px rgba(0,0,0,.15)
    height: 134px
    width: 418px
    display: block
    cursor: move
    margin: -3px 0 0 -3px

    &.half
      width: 202px

    &.third
      width: 130px
      height: 130px

    &.animated
      cursor: default

    &.ui-draggable-dragging
      z-index: 9999

    &.chart
      background: url('../images/widget-chart.png') 0 0 no-repeat
    &.weather
      background: url('../images/widget-weather.png') 0 0 no-repeat
    &.chat
      background: url('../images/widget-chat.png') 0 0 no-repeat
    &.profile
      background: url('../images/widget-profile.png') 0 0 no-repeat
    &.calendar
      background: url('../images/widget-calendar.png') 0 0 no-repeat
    &.map
      background: url('../images/widget-map.png') 0 0 no-repeat

  .browser
    @include position(absolute, 50% 0 0 50%)
    margin-top: -250px
    margin-left: 30px
    width: 470px
    height: 500px
    background: #FFF
    border-radius: 10px
    overflow: hidden
    border: 6px solid #06546f
    box-shadow: 0 12px 0 -5px rgba(0,0,0,.15)
    @include transition(all .5s 1.5s ease-out)

    .browser-bar
      width: 100%
      height: 22px
      background-color: #CCC
      border-bottom: 4px solid #06546f
      display: block
      padding: 5px 0 0 6px
      text-align: left
      @include transition(all .5s 1.5s)

      span
        border-radius: 50%
        width: 8px
        height: 8px
        display: inline-block
        background-color: #06546f
        vertical-align: top
        margin-right: 4px
        @include transition(all .5s 1.5s)

    .browser-content
      padding: 20px 12px

      .box
        border: 3px dashed #b4cbd4
        border-radius: 8px
        height: 134px
        width: 418px
        float: left
        display: block
        margin: 0 7px
        -webkit-animation-duration: .8s

        &.active
          @include transition(background .2s)
          background: #fff4ce

        &.half
          width: 202px

        &.third
          width: 130px
          height: 130px
          margin: 14px 7px

  .orange-bg
    background: #f19849
    width: 100%
    height: 100%
    @include position(absolute, 100% 0 0 0px)
    @include transition(top .8s 2s)

  .text.completed
    width: 100%
    @include position(absolute, 100% 0 0 0px)
    margin-top: 220px
    @include transition(top .5s 2.5s ease-out)

    p
      max-width: 800px
      margin: 0 auto

  &.completed
    .left-col
      right: 100%

    .browser
      margin-left: -235px
      margin-top: -350px
      border-color: #895528

      .browser-bar
        border-color: #895528

        span
          background: #895528

      .browser-content .widget
        @include transition(border .5s 1.5s)
        border: 4px solid #895528

    .orange-bg
      top: 0

    .text.completed
      top: 50%

/*-----------------------------------------------------------------------------------*/
/*  Sign up page
/*-----------------------------------------------------------------------------------*/
.signup
  text-align: center
  background: #ab65e6 url("../images/stars.png") repeat center center

  .text
    width: 100%
    margin-bottom: 50px
    @include animation-delay(.8s)
    opacity: 0

    p
      max-width: 800px
      margin: 0 auto

  .subscribe-form
    max-width: 900px
    margin: 0 auto 40px
    padding-right: 140px
    position: relative
    @include animation-delay(.8s)
    opacity: 0

    input
      @include placeholder
        color: #FFF
        color: rgba(255,255,255,.7)

      &[type="email"]
        border: 3px solid #563373
        background-color: #563373
        width: 100%
        border-radius: 10px 0 0 10px
        padding: 15px 20px
        color: #FFF
        height: 60px
        font-family: "museo-sans", sans-serif
        font-weight: 500
        font-size: 18px
        @include transition(all .4s)

        &:focus
          border: 3px solid #563373
          background-color: #FFF

          &+ input[type="submit"]:hover
            background-color: #563373
            color: #FFF

      &[type="submit"]
        border: 3px solid #563373
        background-color: transparent
        width: 140px
        border-radius: 0 10px 10px 0
        padding: 8px
        height: 60px
        color: rgba(0,0,0,.5)
        font-family: "museo-sans", sans-serif
        font-weight: 900
        font-size: 18px
        @include position(absolute, 0px 3px 0 0)
        @include transition(all .4s)

  .share-btns
    @include animation-delay(.8s)
    opacity: 0
    @extend .bottom-buttons
    position: relative
    padding: 0
    bottom: 0

    a
      width: 70px
      height: 70px
      margin: 0 5px
      display: inline-block
      float: none
      border-radius: 50%
      box-shadow: inset 0 0 0 3px rgba(0,0,0,.45), 0 0 0 0 rgba(0,0,0,.45)

      span
        background-size: 70px 70px !important
        opacity: .5

      &.google span
        background: url("../images/google-lg.png") center center repeat-y
      &.twitter span
        background: url("../images/twitter-lg.png") center center repeat-y
      &.facebook span
        background: url("../images/facebook-lg.png") center center repeat-y

      &:hover
        box-shadow: inset 0 0 0 0 rgba(0,0,0,.45), 0 0 0 4px rgba(0,0,0,.45)

        span
          background-position: center -70px


/*-----------------------------------------------------------------------------------*/
/*  Helper classes
/*-----------------------------------------------------------------------------------*/
.ir
  background-color: transparent
  border: 0
  overflow: hidden
  *text-indent: -9999px
  &:before
    content: ""
    display: block
    width: 0
    height: 150%

.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  &.focusable
    &:active, &:focus
      clip: auto
      height: auto
      margin: 0
      overflow: visible
      position: static
      width: auto

.invisible
  visibility: hidden

.clearfix
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both
  *zoom: 1


@media only screen and (min-width: 35em)

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)

@media print
  *
    background: transparent !important
    color: #000 !important
    box-shadow: none !important
    text-shadow: none !important
  a
    text-decoration: underline
    &:visited
      text-decoration: underline
    &[href]:after
      content: " (" attr(href) ")"
  abbr[title]:after
    content: " (" attr(title) ")"
  .ir a:after
    content: ""
  a
    &[href^="javascript:"]:after, &[href^="#"]:after
      content: ""
  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
  tr
    page-break-inside: avoid
  img
    page-break-inside: avoid
    max-width: 100% !important
  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3
  h2, h3
    page-break-after: avoid