/*----------------------------------------------------------------------------------- */
/*  Base styles */
/*----------------------------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

html, button, input, select, textarea {
  color: #222222; }

html {
  font-size: 1em;
  line-height: 1.4; }

body {
  height: 100%;
  width: 100%;
  font-family: "museo-sans", sans-serif; }

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

h1 {
  color: white;
  font-size: 2.8em;
  font-weight: 900;
  letter-spacing: -0.03em;
  margin: 0 0 15px;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased; }

h2 {
  font-size: 1.4em;
  margin: 0.7em 0;
  color: rgba(0, 0, 0, 0.55); }

p {
  color: black;
  color: rgba(0, 0, 0, 0.65);
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  line-height: 1.4; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

audio, canvas, img, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/*----------------------------------------------------------------------------------- */
/*  Mixins */
/*----------------------------------------------------------------------------------- */
/*----------------------------------------------------------------------------------- */
/*  Global styles */
/*----------------------------------------------------------------------------------- */
.logo {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 100; }
  .logo.mobile {
    display: none !important; }
  .logo .shoe {
    margin-right: 8px; }

.bottom-buttons, .signup .share-btns {
  position: fixed;
  bottom: 15px;
  left: 0px;
  z-index: 100;
  padding: 0 15px;
  width: 100%; }
  .bottom-buttons .wrapper, .signup .share-btns .wrapper {
    position: relative; }
  .bottom-buttons a, .signup .share-btns a {
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.35), 0 0 0 0 rgba(0, 0, 0, 0.35);
    margin-right: 6px;
    -webkit-transition: background-color 0.15s, box-shadow 0.1s;
    -moz-transition: background-color 0.15s, box-shadow 0.1s;
    transition: background-color 0.15s, box-shadow 0.1s; }
    .bottom-buttons a span, .signup .share-btns a span {
      width: 100%;
      height: 100%;
      display: block;
      text-indent: -9999em;
      opacity: 0.4;
      background-size: 50px 50px !important;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
    .bottom-buttons a.share span, .signup .share-btns a.share span {
      background: url("../images/share.png") center center repeat-y; }
    .bottom-buttons a.share.active, .signup .share-btns a.share.active {
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.35), 0 0 0 3px rgba(0, 0, 0, 0.35);
      background-color: white;
      color: black; }
      .bottom-buttons a.share.active span, .signup .share-btns a.share.active span {
        opacity: 1;
        background-position: center -50px; }
    .bottom-buttons a.twitter span, .signup .share-btns a.twitter span {
      background: url("../images/twitter.png") center center repeat-y; }
    .bottom-buttons a.facebook span, .signup .share-btns a.facebook span {
      background: url("../images/facebook.png") center center repeat-y; }
    .bottom-buttons a.google span, .signup .share-btns a.google span {
      background: url("../images/google.png") center center repeat-y; }
    .bottom-buttons a.signup-btn, .signup .share-btns a.signup-btn {
      width: auto;
      float: right;
      margin: 0;
      padding: 0 25px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.45);
      font-weight: 900;
      font-size: 15px;
      line-height: 50px;
      text-align: center; }
    .bottom-buttons a:hover, .signup .share-btns a:hover {
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.35), 0 0 0 3px rgba(0, 0, 0, 0.35);
      background-color: white;
      color: black; }
      .bottom-buttons a:hover span, .signup .share-btns a:hover span {
        opacity: 1;
        background-position: center -50px; }
  .bottom-buttons .share-btns, .signup .share-btns .share-btns {
    position: absolute;
    bottom: 8px;
    left: 0px; }
    .bottom-buttons .share-btns a, .signup .share-btns .share-btns a {
      float: none;
      margin: 6px 0 0 -65px;
      -webkit-transition: margin-left 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -moz-transition: margin-left 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: margin-left 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .bottom-buttons .share-btns a.twitter, .signup .share-btns .share-btns a.twitter {
        -webkit-transition-delay: 0ms;
        -moz-transition-delay: 0ms;
        -ms-transition-delay: 0ms;
        transition-delay: 0ms; }
      .bottom-buttons .share-btns a.facebook, .signup .share-btns .share-btns a.facebook {
        -webkit-transition-delay: 50ms;
        -moz-transition-delay: 50ms;
        -ms-transition-delay: 50ms;
        transition-delay: 50ms; }
      .bottom-buttons .share-btns a.google, .signup .share-btns .share-btns a.google {
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        -ms-transition-delay: 100ms;
        transition-delay: 100ms; }
    .bottom-buttons .share-btns.active a, .signup .share-btns .share-btns.active a {
      margin-left: 0; }
      .bottom-buttons .share-btns.active a.twitter, .signup .share-btns .share-btns.active a.twitter {
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        -ms-transition-delay: 100ms;
        transition-delay: 100ms; }
      .bottom-buttons .share-btns.active a.facebook, .signup .share-btns .share-btns.active a.facebook {
        -webkit-transition-delay: 50ms;
        -moz-transition-delay: 50ms;
        -ms-transition-delay: 50ms;
        transition-delay: 50ms; }
      .bottom-buttons .share-btns.active a.google, .signup .share-btns .share-btns.active a.google {
        -webkit-transition-delay: 0ms;
        -moz-transition-delay: 0ms;
        -ms-transition-delay: 0ms;
        transition-delay: 0ms; }

.section {
  padding: 0 40px;
  overflow: hidden; }

.animated {
  opacity: 1 !important; }

/*----------------------------------------------------------------------------------- */
/*  Pagination color override */
/*----------------------------------------------------------------------------------- */
#fullPage-nav.right {
  right: 20px; }
#fullPage-nav li {
  margin: 12px 0;
  height: 14px;
  width: 14px; }
#fullPage-nav span {
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 3px;
  width: 14px;
  height: 14px;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: border 0.5s; }
#fullPage-nav li .active span {
  border-width: 7px;
  background-color: transparent; }

.fullPage-tooltip {
  font-family: "museo-sans", sans-serif;
  font-weight: 700;
  font-size: 16;
  top: -1px; }

/*----------------------------------------------------------------------------------- */
/*  Intro */
/*----------------------------------------------------------------------------------- */
@-webkit-keyframes spaceSpin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spaceSpin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }
@keyframes spaceSpin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }
@-webkit-keyframes starPan {
  from {
    background-position: 0px center; }

  to {
    background-position: -743px center; } }
@-moz-keyframes starPan {
  from {
    background-position: 0px center; }

  to {
    background-position: -743px center; } }
@keyframes starPan {
  from {
    background-position: 0px center; }

  to {
    background-position: -743px center; } }
.intro {
  text-align: center;
  background: #32b9b1 url("../images/stars.png") repeat center center;
  -webkit-animation: starPan 20s infinite linear;
  -moz-animation: starPan 20s infinite linear;
  animation: starPan 20s infinite linear; }
  .intro .text {
    max-width: 850px;
    margin: 0 auto;
    opacity: 0;
    position: relative;
    z-index: 10; }
    .intro .text h1 {
      font-size: 60px;
      margin-bottom: 25px; }
    .intro .text p {
      font-size: 22px; }
  .intro .astronaut {
    width: 252px;
    height: 335px;
    margin: 60px auto 0;
    position: relative;
    z-index: 100; }
    .intro .astronaut .body {
      background: url("../images/astronaut.gif") no-repeat 0 0;
      background-size: 252px 335px;
      width: 252px;
      height: 335px;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      -webkit-animation: spaceSpin 15s infinite linear;
      -moz-animation: spaceSpin 15s infinite linear;
      animation: spaceSpin 15s infinite linear; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .intro .astronaut .body {
          background: url("../images/astronaut@2x.gif") no-repeat 0 0;
          background-size: 252px 335px; } }
    .intro .astronaut .cord {
      background: url("../images/cord.gif") no-repeat 0 0;
      background-size: 275px 530px;
      width: 275px;
      height: 530px;
      display: block;
      position: absolute;
      top: 135px;
      left: 45%; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .intro .astronaut .cord {
          background: url("../images/cord@2x.gif") no-repeat 0 0;
          background-size: 275px 530px; } }
  .intro .rocket {
    background: url("../images/rocket.png") no-repeat 0 0;
    background-size: 94px 154px;
    width: 94px;
    height: 154px;
    display: block;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
    position: absolute;
    top: 110%;
    left: 60%; }
    .intro .rocket .wrapper {
      position: relative; }
      .intro .rocket .wrapper .exhaust {
        background: url("../images/exhaust.gif") no-repeat 0 0;
        background-size: 42px 82px;
        width: 42px;
        height: 82px;
        display: block;
        position: absolute;
        top: 149px;
        left: 26px; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .intro .rocket .wrapper .exhaust {
            background: url("../images/exhaust@2x.gif") no-repeat 0 0;
            background-size: 42px 82px; } }
  .intro .spaceship {
    background: url("../images/spaceship.png") no-repeat 0 0;
    background-size: 94px 80px;
    width: 94px;
    height: 80px;
    display: block;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    position: absolute;
    top: 28%;
    left: 110%;
    z-index: 20; }
    .intro .spaceship .wrapper {
      position: relative; }
      .intro .spaceship .wrapper .beams {
        background: url("../images/beams.gif") no-repeat 0 0;
        background-size: 72px 78px;
        width: 72px;
        height: 78px;
        display: block;
        position: absolute;
        top: 80px;
        left: 12px; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .intro .spaceship .wrapper .beams {
            background: url("../images/beams@2x.gif") no-repeat 0 0;
            background-size: 72px 78px; } }
  .intro .satellite {
    background: url("../images/satellite.png") no-repeat 0 0;
    background-size: 198px 88px;
    width: 198px;
    height: 88px;
    display: block;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    position: absolute;
    top: 60%;
    left: -20%; }
    .intro .satellite .wrapper {
      position: relative; }
      .intro .satellite .wrapper .signal {
        background: url("../images/signal.gif") no-repeat 0 0;
        background-size: 145px 91px;
        width: 145px;
        height: 91px;
        display: block;
        position: absolute;
        top: 74px;
        left: 26px; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .intro .satellite .wrapper .signal {
            background: url("../images/signal@2x.gif") no-repeat 0 0;
            background-size: 145px 91px; } }
  .intro .planet {
    background: url("../images/planet.gif") no-repeat 0 0;
    background-size: 120px 70px;
    width: 120px;
    height: 70px;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .intro .planet {
        background: url("../images/planet@2x.gif") no-repeat 0 0;
        background-size: 120px 70px; } }

/*----------------------------------------------------------------------------------- */
/*  Problem */
/*----------------------------------------------------------------------------------- */
@-webkit-keyframes smokeL {
  from {
    background: transparent;
    -webkit-transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.3); }

  100% {
    background: transparent;
    -webkit-transform: scale(1) translate(-20px, -100px) translateZ(0); } }
@-moz-keyframes smokeL {
  from {
    background: transparent;
    -moz-transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.3); }

  100% {
    background: transparent;
    -moz-transform: scale(1) translate(-20px, -100px) translateZ(0); } }
@keyframes smokeL {
  from {
    background: transparent;
    transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.3); }

  100% {
    background: transparent;
    transform: scale(1) translate(-20px, -100px) translateZ(0); } }
@-webkit-keyframes smokeR {
  0% {
    background: transparent;
    -webkit-transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.3); }

  100% {
    background: transparent;
    -webkit-transform: scale(1) translate(20px, -100px) translateZ(0); } }
@-moz-keyframes smokeR {
  0% {
    background: transparent;
    -moz-transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.3); }

  100% {
    background: transparent;
    -moz-transform: scale(1) translate(20px, -100px) translateZ(0); } }
@keyframes smokeR {
  0% {
    background: transparent;
    transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.3); }

  100% {
    background: transparent;
    transform: scale(1) translate(20px, -100px) translateZ(0); } }
.problem {
  padding-right: 125px; }
  .problem .desk {
    width: 554px;
    height: 642px;
    position: absolute;
    top: 56%;
    left: 50%;
    margin: -340px 0 0 -560px; }
    .problem .desk > .wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
    .problem .desk .laptop {
      width: 100%;
      height: 100%;
      background: url("../images/laptop.png") no-repeat 0 0;
      background-size: 554px 642px;
      width: 554px;
      height: 642px;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .problem .desk .laptop {
          background: url("../images/laptop@2x.png") no-repeat 0 0;
          background-size: 555px 642px; } }
    .problem .desk .text {
      position: absolute;
      top: 15px;
      left: 96%;
      margin: 0 0 0 60px;
      width: 420px;
      -webkit-animation-delay: 0.8s;
      -moz-animation-delay: 0.8s;
      -ms-animation-delay: 0.8s;
      animation-delay: 0.8s;
      opacity: 0; }
    .problem .desk .pencil {
      background: url("../images/pencil.png") no-repeat 0 0;
      background-size: 24px 222px;
      width: 24px;
      height: 222px;
      display: block;
      position: absolute;
      bottom: 25px;
      left: 35px; }
    .problem .desk .screen {
      background: url("../images/screen.gif") no-repeat 0 0;
      background-size: 392px 226px;
      width: 392px;
      height: 226px;
      display: block;
      position: absolute;
      top: 58px;
      left: 128px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .problem .desk .screen {
          background: url("../images/screen@2x.gif") no-repeat 0 0;
          background-size: 392px 226px; } }
    .problem .desk .hand {
      background: url("../images/hand.gif") no-repeat 0 0;
      background-size: 400px 570px;
      width: 400px;
      height: 570px;
      display: block;
      position: absolute;
      top: 292px;
      left: 100%;
      margin-left: -50px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .problem .desk .hand {
          background: url("../images/hand@2x.gif") no-repeat 0 0;
          background-size: 400px 570px; } }
    .problem .desk .coffee {
      background: url("../images/coffee.gif") no-repeat 0 0;
      background-size: 171px 162px;
      width: 171px;
      height: 162px;
      display: block;
      position: absolute;
      top: 360px;
      right: -580px; }
      .problem .desk .coffee .wrapper {
        position: relative;
        height: 100%; }
        .problem .desk .coffee .wrapper .smoke {
          position: absolute;
          z-index: 3;
          width: 1px;
          height: 160px;
          left: 66px;
          bottom: 85px; }
          .problem .desk .coffee .wrapper .smoke span {
            display: block;
            position: absolute;
            bottom: -35px;
            left: 50%;
            margin-left: -40px;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background: transparent;
            -webkit-transform: scale(0.2);
            -moz-transform: scale(0.2);
            -ms-transform: scale(0.2);
            -o-transform: scale(0.2);
            transform: scale(0.2); }
            .problem .desk .coffee .wrapper .smoke span.s0 {
              -webkit-animation: smokeL 12s 0s infinite;
              -moz-animation: smokeL 12s 0s infinite;
              animation: smokeL 12s 0s infinite; }
            .problem .desk .coffee .wrapper .smoke span.s1 {
              -webkit-animation: smokeR 12s 1s infinite;
              -moz-animation: smokeR 12s 1s infinite;
              animation: smokeR 12s 1s infinite; }
            .problem .desk .coffee .wrapper .smoke span.s2 {
              -webkit-animation: smokeL 12s 2s infinite;
              -moz-animation: smokeL 12s 2s infinite;
              animation: smokeL 12s 2s infinite; }
            .problem .desk .coffee .wrapper .smoke span.s3 {
              -webkit-animation: smokeR 12s 3s infinite;
              -moz-animation: smokeR 12s 3s infinite;
              animation: smokeR 12s 3s infinite; }
            .problem .desk .coffee .wrapper .smoke span.s4 {
              -webkit-animation: smokeL 12s 4s infinite;
              -moz-animation: smokeL 12s 4s infinite;
              animation: smokeL 12s 4s infinite; }
            .problem .desk .coffee .wrapper .smoke span.s5 {
              -webkit-animation: smokeR 12s 5s infinite;
              -moz-animation: smokeR 12s 5s infinite;
              animation: smokeR 12s 5s infinite; }
            .problem .desk .coffee .wrapper .smoke span.s6 {
              -webkit-animation: smokeL 12s 6s infinite;
              -moz-animation: smokeL 12s 6s infinite;
              animation: smokeL 12s 6s infinite; }
            .problem .desk .coffee .wrapper .smoke span.s7 {
              -webkit-animation: smokeR 12s 7s infinite;
              -moz-animation: smokeR 12s 7s infinite;
              animation: smokeR 12s 7s infinite; }
            .problem .desk .coffee .wrapper .smoke span.s8 {
              -webkit-animation: smokeL 12s 8s infinite;
              -moz-animation: smokeL 12s 8s infinite;
              animation: smokeL 12s 8s infinite; }

/*----------------------------------------------------------------------------------- */
/*  Free themes */
/*----------------------------------------------------------------------------------- */
.themes {
  text-align: center;
  padding: 40px 0 0; }
  .themes .text {
    width: 100%;
    position: absolute;
    bottom: 100%;
    margin-bottom: 50px;
    -webkit-animation-delay: 2.8s;
    -moz-animation-delay: 2.8s;
    -ms-animation-delay: 2.8s;
    animation-delay: 2.8s;
    opacity: 0; }
    .themes .text p {
      max-width: 800px;
      margin: 0 auto; }
  .themes .logos {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 45px;
    -webkit-animation-delay: 2.8s;
    -moz-animation-delay: 2.8s;
    -ms-animation-delay: 2.8s;
    animation-delay: 2.8s;
    opacity: 0; }
    .themes .logos img {
      margin: 0 15px; }
  .themes .theme-options {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -180px; }
    .themes .theme-options .wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
      .themes .theme-options .wrapper .browser {
        width: 500px;
        height: 100%;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        border: 6px solid #647f32;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        box-shadow: 0 12px 0 -5px rgba(0, 0, 0, 0.08); }
        .themes .theme-options .wrapper .browser .browser-bar {
          width: 100%;
          height: 22px;
          background-color: #cccccc;
          border-bottom: 4px solid #647f32;
          display: block;
          padding: 5px 0 0 6px;
          text-align: left; }
          .themes .theme-options .wrapper .browser .browser-bar span {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            display: inline-block;
            background-color: #647f32;
            margin-right: 4px;
            vertical-align: top; }
        .themes .theme-options .wrapper .browser.theme-main {
          box-shadow: 0 12px 0 -5px rgba(0, 0, 0, 0.08);
          height: 0%;
          width: 0px;
          position: relative;
          z-index: 10;
          top: 0;
          left: 0;
          margin: 197px auto 0;
          display: block;
          border-width: 0;
          -webkit-transition: all 0.4s 0.6s, width 0.4s 1s, border-width 0.2s 0.5s;
          -moz-transition: all 0.4s 0.6s, width 0.4s 1s, border-width 0.2s 0.5s;
          transition: all 0.4s 0.6s, width 0.4s 1s, border-width 0.2s 0.5s; }
          .themes .theme-options .wrapper .browser.theme-main .image {
            background: url("../images/theme-main.gif") no-repeat 0 0;
            background-size: 488px 388px;
            width: 488px;
            height: 388px;
            display: block;
            display: none; }
            @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
              .themes .theme-options .wrapper .browser.theme-main .image {
                background: url("../images/theme-main@2x.gif") no-repeat 0 0;
                background-size: 488px 388px; } }
          .themes .theme-options .wrapper .browser.theme-main.open {
            width: 500px;
            height: 100%;
            margin-top: 0;
            border-width: 6px; }
        .themes .theme-options .wrapper .browser.theme-1 {
          background: url("../images/theme-1.gif") no-repeat 0 0;
          background-size: 140px 288px;
          width: 140px;
          height: 288px;
          display: block;
          background-position: left 22px;
          width: 500px;
          height: auto;
          top: 40px;
          bottom: 40px;
          display: none; }
        .themes .theme-options .wrapper .browser.theme-2 {
          background: url("../images/theme-2.gif") no-repeat 0 0;
          background-size: 140px 328px;
          width: 140px;
          height: 328px;
          display: block;
          background-position: left 22px;
          width: 500px;
          height: auto;
          top: 20px;
          bottom: 20px;
          display: none; }
        .themes .theme-options .wrapper .browser.theme-3 {
          background: url("../images/theme-3.gif") no-repeat 0 0;
          background-size: 140px 328px;
          width: 140px;
          height: 328px;
          display: block;
          background-position: right 22px;
          width: 500px;
          height: auto;
          top: 20px;
          bottom: 20px;
          display: none; }
        .themes .theme-options .wrapper .browser.theme-4 {
          background: url("../images/theme-4.gif") no-repeat 0 0;
          background-size: 140px 288px;
          width: 140px;
          height: 288px;
          display: block;
          background-position: right 22px;
          width: 500px;
          height: auto;
          top: 40px;
          bottom: 40px;
          display: none; }

/*----------------------------------------------------------------------------------- */
/*  Drops */
/*----------------------------------------------------------------------------------- */
.drops {
  text-align: center; }
  .drops .text.mobile {
    display: none;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    animation-delay: 0.4s;
    opacity: 0;
    -webkit-transition: all 0.4s 1s;
    -moz-transition: all 0.4s 1s;
    transition: all 0.4s 1s; }
  .drops .left-col {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 482px;
    height: 700px;
    margin: -350px 30px 0 0;
    -webkit-transition: all 0.25s 1s;
    -moz-transition: all 0.25s 1s;
    transition: all 0.25s 1s; }
    .drops .left-col .text {
      text-align: left;
      margin-bottom: 40px;
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      -ms-animation-delay: 0.4s;
      animation-delay: 0.4s;
      opacity: 0; }
      .drops .left-col .text p {
        max-width: 800px;
        margin: 0 auto; }
  .drops .widget-container {
    height: 134px;
    width: 418px;
    float: left;
    border: 3px dashed rgba(255, 255, 255, 0.18);
    border-radius: 8px; }
    .drops .widget-container.half {
      width: 202px;
      margin: 0 12px; }
    .drops .widget-container.third {
      width: 130px;
      height: 130px;
      margin: 0 20px; }
    .drops .widget-container.chart {
      margin: 0 0 20px 30px; }
    .drops .widget-container.weather {
      margin: 10px 20px 0 0; }
    .drops .widget-container.profile {
      margin: 20px 0 10px 20px; }
    .drops .widget-container.map {
      margin: 20px 0 0 12px; }
  .drops .widget {
    border: 4px solid #06546f;
    border-radius: 8px;
    box-shadow: 0 8px 0 -4px rgba(0, 0, 0, 0.15);
    height: 134px;
    width: 418px;
    display: block;
    cursor: move;
    margin: -3px 0 0 -3px; }
    .drops .widget.half {
      width: 202px; }
    .drops .widget.third {
      width: 130px;
      height: 130px; }
    .drops .widget.animated {
      cursor: default; }
    .drops .widget.ui-draggable-dragging {
      z-index: 9999; }
    .drops .widget.chart {
      background: url("../images/widget-chart.png") 0 0 no-repeat; }
    .drops .widget.weather {
      background: url("../images/widget-weather.png") 0 0 no-repeat; }
    .drops .widget.chat {
      background: url("../images/widget-chat.png") 0 0 no-repeat; }
    .drops .widget.profile {
      background: url("../images/widget-profile.png") 0 0 no-repeat; }
    .drops .widget.calendar {
      background: url("../images/widget-calendar.png") 0 0 no-repeat; }
    .drops .widget.map {
      background: url("../images/widget-map.png") 0 0 no-repeat; }
  .drops .browser {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: 30px;
    width: 470px;
    height: 500px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border: 6px solid #06546f;
    box-shadow: 0 12px 0 -5px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.5s 1.5s ease-out;
    -moz-transition: all 0.5s 1.5s ease-out;
    transition: all 0.5s 1.5s ease-out; }
    .drops .browser .browser-bar {
      width: 100%;
      height: 22px;
      background-color: #cccccc;
      border-bottom: 4px solid #06546f;
      display: block;
      padding: 5px 0 0 6px;
      text-align: left;
      -webkit-transition: all 0.5s 1.5s;
      -moz-transition: all 0.5s 1.5s;
      transition: all 0.5s 1.5s; }
      .drops .browser .browser-bar span {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        display: inline-block;
        background-color: #06546f;
        vertical-align: top;
        margin-right: 4px;
        -webkit-transition: all 0.5s 1.5s;
        -moz-transition: all 0.5s 1.5s;
        transition: all 0.5s 1.5s; }
    .drops .browser .browser-content {
      padding: 20px 12px; }
      .drops .browser .browser-content .box {
        border: 3px dashed #b4cbd4;
        border-radius: 8px;
        height: 134px;
        width: 418px;
        float: left;
        display: block;
        margin: 0 7px;
        -webkit-animation-duration: 0.8s; }
        .drops .browser .browser-content .box.active {
          -webkit-transition: background 0.2s;
          -moz-transition: background 0.2s;
          transition: background 0.2s;
          background: #fff4ce; }
        .drops .browser .browser-content .box.half {
          width: 202px; }
        .drops .browser .browser-content .box.third {
          width: 130px;
          height: 130px;
          margin: 14px 7px; }
  .drops .orange-bg {
    background: url("../images/fireworks@2x.gif") no-repeat 0 0;
    background-size: 1012px 660px;
    width: 1012px;
    height: 660px;
    display: block;
    background-color: #f19849;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    -webkit-transition: top 0.8s 2s;
    -moz-transition: top 0.8s 2s;
    transition: top 0.8s 2s; }
  .drops .text.completed {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    margin-top: 220px;
    -webkit-transition: top 0.5s 2.5s ease-out;
    -moz-transition: top 0.5s 2.5s ease-out;
    transition: top 0.5s 2.5s ease-out; }
    .drops .text.completed p {
      max-width: 800px;
      margin: 0 auto; }
  .drops.completed .left-col {
    right: 100%; }
  .drops.completed .browser {
    margin-left: -235px;
    margin-top: -350px;
    border-color: #895528; }
    .drops.completed .browser .browser-bar {
      border-color: #895528; }
      .drops.completed .browser .browser-bar span {
        background: #895528; }
    .drops.completed .browser .browser-content .widget {
      -webkit-transition: border 0.5s 1.5s;
      -moz-transition: border 0.5s 1.5s;
      transition: border 0.5s 1.5s;
      border: 4px solid #895528; }
  .drops.completed .orange-bg {
    top: 0; }
  .drops.completed .text.completed {
    top: 50%; }

/*----------------------------------------------------------------------------------- */
/*  Sign up page */
/*----------------------------------------------------------------------------------- */
.signup {
  text-align: center;
  background: #ab65e6 url("../images/stars.png") repeat center center; }
  .signup .text {
    width: 100%;
    margin-bottom: 50px;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    animation-delay: 0.8s;
    opacity: 0; }
    .signup .text p {
      max-width: 800px;
      margin: 0 auto; }
  .signup .subscribe-form {
    max-width: 900px;
    margin: 0 auto 40px;
    padding-right: 140px;
    position: relative;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    animation-delay: 0.8s;
    opacity: 0; }
    .signup .subscribe-form input::-webkit-input-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.7); }
    .signup .subscribe-form input::-moz-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.7); }
    .signup .subscribe-form input:-moz-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.7); }
    .signup .subscribe-form input:-ms-input-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.7); }
    .signup .subscribe-form input[type="email"] {
      border: 3px solid #563373;
      background-color: #563373;
      width: 100%;
      border-radius: 10px 0 0 10px;
      padding: 15px 20px;
      color: white;
      height: 60px;
      font-family: "museo-sans", sans-serif;
      font-weight: 500;
      font-size: 18px;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
      .signup .subscribe-form input[type="email"]:focus {
        border: 3px solid #563373;
        background-color: white;
        color: black; }
        .signup .subscribe-form input[type="email"]:focus + input[type="submit"]:hover {
          background-color: #563373;
          color: white; }
    .signup .subscribe-form input[type="submit"] {
      border: 3px solid #563373;
      background-color: #ab65e6;
      width: 140px;
      border-radius: 0 10px 10px 0;
      height: 60px;
      color: rgba(0, 0, 0, 0.5);
      font-family: "museo-sans", sans-serif;
      font-weight: 900;
      font-size: 18px;
      position: absolute;
      top: 0px;
      right: 3px;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
  .signup .share-btns {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    animation-delay: 0.8s;
    opacity: 0;
    position: relative;
    padding: 0;
    bottom: 0; }
    .signup .share-btns a {
      width: 70px;
      height: 70px;
      margin: 0 5px;
      display: inline-block;
      float: none;
      border-radius: 50%;
      box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.45), 0 0 0 0 rgba(0, 0, 0, 0.45); }
      .signup .share-btns a span {
        background-size: 70px 70px !important;
        opacity: 0.5; }
      .signup .share-btns a.google span {
        background: url("../images/google-lg.png") center center repeat-y; }
      .signup .share-btns a.twitter span {
        background: url("../images/twitter-lg.png") center center repeat-y; }
      .signup .share-btns a.facebook span {
        background: url("../images/facebook-lg.png") center center repeat-y; }
      .signup .share-btns a:hover {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.45), 0 0 0 4px rgba(0, 0, 0, 0.45); }
        .signup .share-btns a:hover span {
          background-position: center -70px; }

/*----------------------------------------------------------------------------------- */
/*  Helper classes */
/*----------------------------------------------------------------------------------- */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    display: table; }
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }

@media (max-width: 1024px) {
  h1 {
    font-size: 2.6em; }

  p {
    font-size: 16px; }

  #fullPage-nav.right {
    right: 15px; }

  .bottom-buttons, .signup .share-btns {
    bottom: 10px;
    padding: 0 10px; }

  .intro .text h1 {
    margin-bottom: 20px; }
  .intro .text p {
    font-size: 20px; }
  .intro .astronaut {
    margin: 35px auto -45px; }

  .problem .desk {
    margin-top: -350px;
    margin-left: -490px; }
    .problem .desk .text {
      width: 380px;
      top: 0;
      left: 90%;
      margin-left: 40px; }
    .problem .desk .laptop {
      background-size: 90%; }
    .problem .desk .pencil {
      display: none; }
    .problem .desk .coffee {
      right: -460px; }
    .problem .desk .hand {
      left: 90%;
      background-size: 90%;
      top: 258px; }
    .problem .desk .screen {
      background-size: 90%;
      top: 53px;
      left: 115px; }

  .themes .theme-options {
    margin-top: -180px; }
    .themes .theme-options .text {
      margin-bottom: 45px; }
      .themes .theme-options .text p {
        max-width: 700px; }
    .themes .theme-options .logos {
      margin-top: 25px;
      display: none; }

  .drops {
    padding: 0; }
    .drops .text.mobile {
      display: block;
      margin: -15px 20px 25px; }
      .drops .text.mobile p {
        max-width: 800px;
        margin: 0 auto; }
    .drops .left-col {
      position: relative;
      margin: -20px 25px 0 0;
      display: inline-block;
      vertical-align: middle;
      height: auto;
      width: 420px;
      top: 0;
      right: 0;
      -webkit-transition: all 0.5s 1s;
      -moz-transition: all 0.5s 1s;
      transition: all 0.5s 1s; }
      .drops .left-col .text {
        display: none; }
      .drops .left-col .widget-container.third {
        margin: 0 7px 12px; }
      .drops .left-col .widget-container.half {
        margin: 0 7px 0; }
      .drops .left-col .widget-container.chart {
        margin: 0 0 12px; }
      .drops .left-col .widget-container.profile {
        margin-right: 0; }
      .drops .left-col .widget-container.weather {
        margin-left: 0; }
      .drops .left-col .widget-container.chat {
        margin-bottom: 12px; }
      .drops .left-col .widget-container.calendar {
        margin-left: 0; }
      .drops .left-col .widget-container.map {
        margin-right: 0; }
    .drops .browser {
      margin: 0;
      height: 475px;
      width: 450px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      top: 0;
      left: 0; }
      .drops .browser .browser-content {
        padding: 12px 6px; }
        .drops .browser .browser-content .box {
          margin: 0 5px; }
          .drops .browser .browser-content .box.third {
            margin: 10px 6px; }
    .drops .text.completed {
      margin-top: 210px; }
    .drops.completed .text.mobile {
      margin-top: -200px; }
    .drops.completed .left-col {
      margin-right: 0; }
    .drops.completed .browser {
      margin-top: -40px;
      margin-left: -420px; } }
@media (max-width: 768px) {
  h1 {
    font-size: 22px;
    margin-bottom: 5px; }

  h2 {
    font-size: 16px; }

  p {
    font-size: 13px; }

  .section {
    padding: 0; }

  .logo {
    display: none; }
    .logo.mobile {
      position: relative;
      top: 0;
      left: 0;
      display: block !important;
      margin: 0px 0 10px; }

  #fullPage-nav.right {
    display: none; }

  .bottom-buttons a, .signup .share-btns a {
    width: 44px;
    height: 44px;
    margin-right: 4px; }
    .bottom-buttons a:hover span, .signup .share-btns a:hover span, .bottom-buttons a.share.active span, .signup .share-btns a.share.active span {
      background-position: center center; }
    .bottom-buttons a.signup-btn, .signup .share-btns a.signup-btn {
      line-height: 44px;
      font-size: 14px;
      padding: 0 20px; }

  .intro {
    padding: 0 15px; }
    .intro .text h1 {
      margin-bottom: 10px;
      font-size: 24px; }
    .intro .text p {
      font-size: 14px; }
    .intro .astronaut {
      margin: 10px auto 0;
      width: 126px;
      height: 167px; }
      .intro .astronaut .body {
        background-size: 100%;
        width: 100%;
        height: 100%; }
      .intro .astronaut .cord {
        display: none; }
    .intro .rocket, .intro .satellite, .intro .spaceship, .intro .planet {
      display: none; }

  .problem .desk {
    margin: 0;
    top: -8px;
    left: 0;
    width: 100%;
    padding-left: 40%; }
    .problem .desk .laptop {
      background-size: 100%;
      width: 277px;
      height: 321px;
      left: auto;
      right: 100%; }
    .problem .desk .text {
      width: 100%;
      margin: 0;
      padding: 28px 20px 0 20px;
      position: static; }
    .problem .desk .hand {
      background-size: 100%;
      width: 224px;
      height: 305px;
      left: 50%;
      top: 140px;
      margin-left: 0;
      display: none; }
    .problem .desk .screen {
      background-size: 100%;
      width: 196px;
      height: 113px;
      top: 29px;
      margin-right: 17px;
      right: 100%;
      left: auto; }
    .problem .desk .coffee {
      background-size: 100%;
      width: 86px;
      height: 81px;
      position: static;
      margin: 20px 0 0 40px; }
      .problem .desk .coffee .smoke {
        display: none; }

  .themes .theme-options {
    height: 180px;
    margin-top: -70px; }
    .themes .theme-options .text {
      margin: 0 0 15px;
      padding: 0 15px; }
    .themes .theme-options .wrapper .browser {
      border-radius: 6px;
      border-width: 3px;
      width: 250px;
      box-shadow: 0 4px rgba(0, 0, 0, 0.08); }
      .themes .theme-options .wrapper .browser.theme-main {
        background-size: 100%;
        width: 250px;
        margin-left: -125px;
        box-shadow: 0 4px rgba(0, 0, 0, 0.08), -25px 0 0 -20px rgba(0, 0, 0, 0.1), 25px 0 0 -20px rgba(0, 0, 0, 0.1); }
      .themes .theme-options .wrapper .browser .browser-bar {
        height: 11px;
        padding: 3px 0 0 3px;
        border-width: 2px; }
        .themes .theme-options .wrapper .browser .browser-bar span {
          height: 4px;
          width: 4px;
          margin-right: 2px; }

  .drops .text.mobile {
    margin: 10px 0 15px;
    width: 100%; }
  .drops .left-col {
    width: 224px;
    margin: 0 0 50px; }
  .drops .widget-container {
    height: 67px;
    width: 209px;
    border: 0; }
    .drops .widget-container.third {
      width: 65px;
      height: 65px; }
    .drops .widget-container.half {
      width: 101px; }
    .drops .widget-container.chart {
      display: none; }
  .drops .widget {
    background-size: 100% !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 6px;
    border-width: 3px; }
  .drops .browser {
    display: none; }

  .signup .text {
    margin-bottom: 30px; }
  .signup .subscribe-form {
    padding: 0 110px 0 14px; }
    .signup .subscribe-form input[type="email"] {
      font-size: 15px;
      height: 50px;
      padding: 10px 15px; }
    .signup .subscribe-form input[type="submit"] {
      right: 13px;
      font-size: 14px;
      height: 50px;
      width: 100px; }
  .signup .share-btns a {
    width: 60px;
    height: 60px; } }
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
