/*----------------------------------------------------------------------------------- */
/*  Base styles */
/*----------------------------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

html, button, input, select, textarea {
  color: #222222; }

html {
  font-size: 1em;
  line-height: 1.4; }

body {
  height: 100%;
  width: 100%;
  font-family: "museo-sans", sans-serif; }

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

h1 {
  color: white;
  font-size: 42px;
  font-weight: 900;
  letter-spacing: -0.01em;
  margin: 0 0 15px;
  line-height: 1.1; }

p {
  color: black;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  line-height: 1.4; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

audio, canvas, img, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/*----------------------------------------------------------------------------------- */
/*  Mixins */
/*----------------------------------------------------------------------------------- */
/*----------------------------------------------------------------------------------- */
/*  Global styles */
/*----------------------------------------------------------------------------------- */
.logo {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 100; }
  .logo .shoe {
    margin-right: 10px; }

.bottom-buttons {
  position: fixed;
  z-index: 100;
  bottom: 15px;
  left: 0;
  padding: 0 15px;
  width: 100%; }
  .bottom-buttons a {
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.35), 0 0 0 0 rgba(0, 0, 0, 0.35);
    margin-right: 6px;
    -webkit-transition: background-color 0.15s, box-shadow 0.1s;
    -moz-transition: background-color 0.15s, box-shadow 0.1s;
    transition: background-color 0.15s, box-shadow 0.1s; }
    .bottom-buttons a span {
      width: 100%;
      height: 100%;
      display: block;
      text-indent: -9999em;
      opacity: 0.4;
      background-size: 50px 50px !important;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
    .bottom-buttons a.share span {
      background: url("../images/share.png") center center repeat-y; }
    .bottom-buttons a.twitter span {
      background: url("../images/twitter.png") center center repeat-y; }
    .bottom-buttons a.facebook span {
      background: url("../images/facebook.png") center center repeat-y; }
    .bottom-buttons a.signup-btn {
      width: auto;
      float: right;
      margin: 0;
      padding: 0 25px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.45);
      font-weight: 900;
      font-size: 15px;
      line-height: 50px;
      text-align: center; }
    .bottom-buttons a:hover {
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.35), 0 0 0 3px rgba(0, 0, 0, 0.35);
      background-color: white;
      color: black; }
      .bottom-buttons a:hover span {
        opacity: 1;
        background-position: center -50px; }

.section {
  padding: 0 40px; }

/*----------------------------------------------------------------------------------- */
/*  Pagination color override */
/*----------------------------------------------------------------------------------- */
#fullPage-nav.right {
  right: 20px; }
#fullPage-nav li {
  margin: 12px 0;
  height: 14px;
  width: 14px; }
#fullPage-nav span {
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 3px;
  width: 14px;
  height: 14px;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: border 0.5s; }
#fullPage-nav li .active span {
  border-width: 7px;
  background-color: transparent; }

.fullPage-tooltip {
  font-family: "museo-sans", sans-serif;
  font-weight: 700;
  font-size: 16;
  top: -1px; }

/*----------------------------------------------------------------------------------- */
/*  Intro */
/*----------------------------------------------------------------------------------- */
@-webkit-keyframes spaceSpin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spaceSpin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }
@keyframes spaceSpin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }
.intro {
  text-align: center;
  background: #32b9b1 url("../images/stars.png") repeat center center; }
  .intro .text {
    max-width: 850px;
    margin: 0 auto; }
    .intro .text h1 {
      font-size: 60px;
      margin-bottom: 25px; }
    .intro .text p {
      font-size: 22px; }
  .intro .astronaut {
    background: url("../images/astronaut.png") no-repeat 0 0;
    background-size: 179px 282px;
    width: 179px;
    height: 282px;
    display: block;
    margin: 80px auto 0; }

/*----------------------------------------------------------------------------------- */
/*  Problem */
/*----------------------------------------------------------------------------------- */
@-webkit-keyframes smokeL {
  from {
    background: transparent;
    -webkit-transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.4); }

  100% {
    background: transparent;
    -webkit-transform: scale(1) translate(-20px, -100px) translateZ(0); } }
@-moz-keyframes smokeL {
  from {
    background: transparent;
    -moz-transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.4); }

  100% {
    background: transparent;
    -moz-transform: scale(1) translate(-20px, -100px) translateZ(0); } }
@keyframes smokeL {
  from {
    background: transparent;
    transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.4); }

  100% {
    background: transparent;
    transform: scale(1) translate(-20px, -100px) translateZ(0); } }
@-webkit-keyframes smokeR {
  0% {
    background: transparent;
    -webkit-transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.4); }

  100% {
    background: transparent;
    -webkit-transform: scale(1) translate(20px, -100px) translateZ(0); } }
@-moz-keyframes smokeR {
  0% {
    background: transparent;
    -moz-transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.4); }

  100% {
    background: transparent;
    -moz-transform: scale(1) translate(20px, -100px) translateZ(0); } }
@keyframes smokeR {
  0% {
    background: transparent;
    transform: scale(0.2) translate(0, 0) translateZ(0); }

  50% {
    background: rgba(255, 255, 255, 0.4); }

  100% {
    background: transparent;
    transform: scale(1) translate(20px, -100px) translateZ(0); } }
.problem {
  padding-right: 125px; }
  .problem .text {
    position: absolute;
    left: 100%;
    margin: 0 0 0 60px;
    width: 410px;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  .problem .laptop {
    background: url("../images/laptop.png") no-repeat 0 0;
    background-size: 554px 642px;
    width: 554px;
    height: 642px;
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -321px; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .problem .laptop {
        background: url("../images/laptop@2x.png") no-repeat 0 0;
        background-size: 555px 642px; } }
    .problem .laptop .wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
    .problem .laptop .hand {
      background: url("../images/hand.gif") no-repeat 0 0;
      background-size: 448px 610px;
      width: 448px;
      height: 610px;
      display: block;
      position: absolute;
      top: 290px;
      left: 100%; }
    .problem .laptop .coffee {
      background: url("../images/coffee.gif") no-repeat 0 0;
      background-size: 171px 162px;
      width: 171px;
      height: 162px;
      display: block;
      position: absolute;
      top: 360px;
      right: -580px; }
      .problem .laptop .coffee .wrapper {
        position: relative; }
        .problem .laptop .coffee .wrapper .smoke {
          position: absolute;
          z-index: 3;
          width: 1px;
          height: 160px;
          left: 66px;
          bottom: 85px; }
          .problem .laptop .coffee .wrapper .smoke span {
            display: block;
            position: absolute;
            bottom: -35px;
            left: 50%;
            margin-left: -40px;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background: transparent;
            -webkit-transform: scale(0.2);
            -moz-transform: scale(0.2);
            -ms-transform: scale(0.2);
            -o-transform: scale(0.2);
            transform: scale(0.2); }
            .problem .laptop .coffee .wrapper .smoke span.s0 {
              -webkit-animation: smokeL 10s 0s infinite;
              -moz-animation: smokeL 10s 0s infinite;
              animation: smokeL 10s 0s infinite; }
            .problem .laptop .coffee .wrapper .smoke span.s1 {
              -webkit-animation: smokeR 10s 1s infinite;
              -moz-animation: smokeR 10s 1s infinite;
              animation: smokeR 10s 1s infinite; }
            .problem .laptop .coffee .wrapper .smoke span.s2 {
              -webkit-animation: smokeL 10s 2s infinite;
              -moz-animation: smokeL 10s 2s infinite;
              animation: smokeL 10s 2s infinite; }
            .problem .laptop .coffee .wrapper .smoke span.s3 {
              -webkit-animation: smokeR 10s 3s infinite;
              -moz-animation: smokeR 10s 3s infinite;
              animation: smokeR 10s 3s infinite; }
            .problem .laptop .coffee .wrapper .smoke span.s4 {
              -webkit-animation: smokeL 10s 4s infinite;
              -moz-animation: smokeL 10s 4s infinite;
              animation: smokeL 10s 4s infinite; }
            .problem .laptop .coffee .wrapper .smoke span.s5 {
              -webkit-animation: smokeR 10s 5s infinite;
              -moz-animation: smokeR 10s 5s infinite;
              animation: smokeR 10s 5s infinite; }
            .problem .laptop .coffee .wrapper .smoke span.s6 {
              -webkit-animation: smokeL 10s 6s infinite;
              -moz-animation: smokeL 10s 6s infinite;
              animation: smokeL 10s 6s infinite; }
            .problem .laptop .coffee .wrapper .smoke span.s7 {
              -webkit-animation: smokeR 10s 7s infinite;
              -moz-animation: smokeR 10s 7s infinite;
              animation: smokeR 10s 7s infinite; }
            .problem .laptop .coffee .wrapper .smoke span.s8 {
              -webkit-animation: smokeL 10s 8s infinite;
              -moz-animation: smokeL 10s 8s infinite;
              animation: smokeL 10s 8s infinite; }
  .problem .pencil {
    background: url("../images/pencil.png") no-repeat 0 0;
    background-size: 24px 222px;
    width: 24px;
    height: 222px;
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    margin: 85px 0 0 10px; }

/*----------------------------------------------------------------------------------- */
/*  Free themes */
/*----------------------------------------------------------------------------------- */
.themes {
  text-align: center;
  padding: 40px 0 0; }
  .themes .text {
    width: 100%;
    position: absolute;
    bottom: 100%;
    margin-bottom: 50px;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s; }
    .themes .text p {
      max-width: 800px;
      margin: 0 auto; }
  .themes .theme-options {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -170px; }
    .themes .theme-options .wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
      .themes .theme-options .wrapper .browser {
        width: 500px;
        height: 100%;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        border: 6px solid #647f32;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        box-shadow: 0 15px 0 -5px rgba(0, 0, 0, 0.08); }
        .themes .theme-options .wrapper .browser .browser-bar {
          width: 100%;
          height: 22px;
          background-color: #cccccc;
          border-bottom: 4px solid #647f32;
          display: block;
          padding: 5px 0 0 6px;
          text-align: left; }
          .themes .theme-options .wrapper .browser .browser-bar span {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            display: inline-block;
            background-color: #647f32;
            margin-right: 4px;
            vertical-align: top; }
        .themes .theme-options .wrapper .browser.theme-1 {
          height: auto;
          top: 40px;
          bottom: 40px; }
        .themes .theme-options .wrapper .browser.theme-2 {
          height: auto;
          top: 20px;
          bottom: 20px; }
        .themes .theme-options .wrapper .browser.theme-3 {
          height: auto;
          top: 20px;
          bottom: 20px; }
        .themes .theme-options .wrapper .browser.theme-4 {
          height: auto;
          top: 40px;
          bottom: 40px; }
  .themes .logos {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 45px;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s; }
    .themes .logos img {
      margin: 0 15px; }

/*----------------------------------------------------------------------------------- */
/*  Drops */
/*----------------------------------------------------------------------------------- */
.drops {
  text-align: center; }
  .drops .left-col {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 482px;
    height: 700px;
    margin: -350px 30px 0 0;
    -webkit-transition: all 0.25s 1s;
    -moz-transition: all 0.25s 1s;
    transition: all 0.25s 1s; }
    .drops .left-col .text {
      text-align: left;
      margin-bottom: 40px;
      -webkit-animation-delay: 0.8s;
      -moz-animation-delay: 0.8s;
      -ms-animation-delay: 0.8s;
      animation-delay: 0.8s; }
      .drops .left-col .text p {
        max-width: 800px;
        margin: 0 auto; }
  .drops .widget-container {
    height: 134px;
    width: 418px;
    float: left;
    border: 3px dashed rgba(255, 255, 255, 0.18);
    border-radius: 8px; }
    .drops .widget-container.half {
      width: 202px;
      margin: 0 12px; }
    .drops .widget-container.third {
      width: 130px;
      height: 130px;
      margin: 0 20px; }
    .drops .widget-container.chart {
      margin: 0 0 20px 30px; }
    .drops .widget-container.weather {
      margin: 10px 20px 0 0; }
    .drops .widget-container.profile {
      margin: 20px 0 10px 20px; }
    .drops .widget-container.map {
      margin: 20px 0 0 12px; }
  .drops .widget {
    border: 4px solid #06546f;
    border-radius: 8px;
    box-shadow: 0 8px 0 -4px rgba(0, 0, 0, 0.15);
    height: 134px;
    width: 418px;
    display: block;
    cursor: move;
    margin: -3px 0 0 -3px; }
    .drops .widget.half {
      width: 202px; }
    .drops .widget.third {
      width: 130px;
      height: 130px; }
    .drops .widget.animated {
      cursor: default; }
    .drops .widget.ui-draggable-dragging {
      z-index: 9999; }
    .drops .widget.chart {
      background: url("../images/widget-chart.png") 0 0 no-repeat; }
    .drops .widget.weather {
      background: url("../images/widget-weather.png") 0 0 no-repeat; }
    .drops .widget.chat {
      background: url("../images/widget-chat.png") 0 0 no-repeat; }
    .drops .widget.profile {
      background: url("../images/widget-profile.png") 0 0 no-repeat; }
    .drops .widget.calendar {
      background: url("../images/widget-calendar.png") 0 0 no-repeat; }
    .drops .widget.map {
      background: url("../images/widget-map.png") 0 0 no-repeat; }
  .drops .browser {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: 30px;
    width: 470px;
    height: 500px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border: 6px solid #06546f;
    box-shadow: 0 12px 0 -5px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.5s 1.5s ease-out;
    -moz-transition: all 0.5s 1.5s ease-out;
    transition: all 0.5s 1.5s ease-out; }
    .drops .browser .browser-bar {
      width: 100%;
      height: 22px;
      background-color: #cccccc;
      border-bottom: 4px solid #06546f;
      display: block;
      padding: 5px 0 0 6px;
      text-align: left;
      -webkit-transition: all 0.5s 1.5s;
      -moz-transition: all 0.5s 1.5s;
      transition: all 0.5s 1.5s; }
      .drops .browser .browser-bar span {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        display: inline-block;
        background-color: #06546f;
        vertical-align: top;
        margin-right: 4px;
        -webkit-transition: all 0.5s 1.5s;
        -moz-transition: all 0.5s 1.5s;
        transition: all 0.5s 1.5s; }
    .drops .browser .browser-content {
      padding: 20px 12px; }
      .drops .browser .browser-content .box {
        border: 3px dashed #b4cbd4;
        border-radius: 8px;
        height: 134px;
        width: 418px;
        float: left;
        display: block;
        margin: 0 7px;
        -webkit-animation-duration: 0.8s; }
        .drops .browser .browser-content .box.active {
          -webkit-transition: background 0.2s;
          -moz-transition: background 0.2s;
          transition: background 0.2s;
          background: #fff4ce; }
        .drops .browser .browser-content .box.half {
          width: 202px; }
        .drops .browser .browser-content .box.third {
          width: 130px;
          height: 130px;
          margin: 14px 7px; }
  .drops .orange-bg {
    background: #f19849;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    -webkit-transition: top 0.8s 2s;
    -moz-transition: top 0.8s 2s;
    transition: top 0.8s 2s; }
  .drops .text.completed {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    margin-top: 220px;
    -webkit-transition: top 0.5s 2.5s ease-out;
    -moz-transition: top 0.5s 2.5s ease-out;
    transition: top 0.5s 2.5s ease-out; }
    .drops .text.completed p {
      max-width: 800px;
      margin: 0 auto; }
  .drops.completed .left-col {
    right: 100%; }
  .drops.completed .browser {
    margin-left: -235px;
    margin-top: -350px;
    border-color: #895528; }
    .drops.completed .browser .browser-bar {
      border-color: #895528; }
      .drops.completed .browser .browser-bar span {
        background: #895528; }
    .drops.completed .browser .browser-content .widget {
      -webkit-transition: border 0.5s 1.5s;
      -moz-transition: border 0.5s 1.5s;
      transition: border 0.5s 1.5s;
      border: 4px solid #895528; }
  .drops.completed .orange-bg {
    top: 0; }
  .drops.completed .text.completed {
    top: 50%; }

/*----------------------------------------------------------------------------------- */
/*  Sign up page */
/*----------------------------------------------------------------------------------- */
.signup {
  text-align: center;
  background: #ab65e6 url("../images/stars.png") repeat center center; }
  .signup .text {
    width: 100%;
    margin-bottom: 50px;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    animation-delay: 0.8s; }
    .signup .text p {
      max-width: 800px;
      margin: 0 auto; }
  .signup .subscribe-form {
    max-width: 900px;
    margin: 0 auto 40px;
    padding-right: 140px;
    position: relative; }
    .signup .subscribe-form input::-webkit-input-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.7); }
    .signup .subscribe-form input::-moz-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.7); }
    .signup .subscribe-form input:-moz-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.7); }
    .signup .subscribe-form input:-ms-input-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.7); }
    .signup .subscribe-form input[type="email"] {
      border: none;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      border-radius: 10px 0 0 10px;
      padding: 15px 20px;
      color: white;
      height: 60px;
      font-family: "museo-sans", sans-serif;
      font-weight: 500;
      font-size: 18px; }
    .signup .subscribe-form input[type="submit"] {
      border: 0;
      box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.5);
      background-color: transparent;
      width: 140px;
      border-radius: 0 10px 10px 0;
      padding: 8px;
      height: 60px;
      color: rgba(0, 0, 0, 0.5);
      font-family: "museo-sans", sans-serif;
      font-weight: 900;
      font-size: 18px;
      position: absolute;
      top: 0px;
      right: 0px;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
      .signup .subscribe-form input[type="submit"]:hover {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.35);
        background-color: white;
        color: black; }

/*----------------------------------------------------------------------------------- */
/*  Helper classes */
/*----------------------------------------------------------------------------------- */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    display: table; }
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
