/*----------------------------------------------------------------------------------- */
/*  Base styles */
/*----------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none; }

html, button, input, select, textarea {
  color: #222222; }

html {
  font-size: 1em;
  line-height: 1.4; }

body {
  height: 100%;
  width: 100%;
  font-family: "museo-sans"; }

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

h1 {
  color: white;
  font-size: 42px;
  font-weight: 900;
  letter-spacing: -0.01em;
  margin: 0 0 15px;
  line-height: 1.1; }

p {
  color: black;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  line-height: 1.4; }

input[type="email"] {
  border: none;
  background-color: #23817c;
  width: 65%;
  border-radius: 8px;
  padding: 15px 20px;
  margin-right: 4px;
  color: white;
  height: 56px;
  font-weight: 500;
  font-size: 18px; }
input[type="submit"] {
  border: 3px solid #23817c;
  background-color: transparent;
  width: 25%;
  border-radius: 8px;
  padding: 8px;
  color: #1c756f;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s; }
  input[type="submit"]:hover {
    background-color: white;
    border-color: white;
    color: #32b9b1; }

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #65c6c0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

audio, canvas, img, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/*----------------------------------------------------------------------------------- */
/*  Mixins */
/*----------------------------------------------------------------------------------- */
/*----------------------------------------------------------------------------------- */
/*  Global styles */
/*----------------------------------------------------------------------------------- */
.section {
  padding: 40px; }

/*----------------------------------------------------------------------------------- */
/*  Pagination color override */
/*----------------------------------------------------------------------------------- */
.shoe-small {
  position: fixed;
  right: 16px;
  top: 50%;
  margin-top: -155px; }

#fullPage-nav li {
  margin: 14px 15px; }
#fullPage-nav span {
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 3px;
  width: 14px;
  height: 14px;
  -webkit-transition: border 0.5s; }
#fullPage-nav li a:hover span {
  border-color: rgba(0, 0, 0, 0.7); }
#fullPage-nav li .active span {
  border-width: 7px;
  background-color: transparent; }

/*----------------------------------------------------------------------------------- */
/*  Intro */
/*----------------------------------------------------------------------------------- */
.intro {
  text-align: center; }
  .intro .shoe-lg {
    padding-top: 20px;
    margin-bottom: 40px; }
  .intro .text {
    max-width: 850px;
    margin: 0 auto; }
    .intro .text h1 {
      font-size: 60px;
      margin-bottom: 25px; }
    .intro .text p {
      font-size: 22px; }

/*----------------------------------------------------------------------------------- */
/*  Problem */
/*----------------------------------------------------------------------------------- */
.problem {
  padding-right: 125px; }
  .problem .text {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 100%;
    margin: 0 0 0 60px;
    width: 410px; }
  .problem .laptop {
    background: url("../images/laptop.png") no-repeat 0 0;
    background-size: 554px 642px;
    width: 554px;
    height: 642px;
    display: block;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 10%;
    margin-top: -321px; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .problem .laptop {
        background: url("../images/laptop@2x.png") no-repeat 0 0;
        background-size: 555px 642px; } }
    .problem .laptop .wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
    .problem .laptop .hand {
      background: url("../images/hand.gif") no-repeat 0 0;
      background-size: 448px 610px;
      width: 448px;
      height: 610px;
      display: block;
      position: absolute;
      top: 290px;
      right: auto;
      bottom: auto;
      left: 100%; }
    .problem .laptop .coffee {
      background: url("../images/coffee.gif") no-repeat 0 0;
      background-size: 171px 162px;
      width: 171px;
      height: 162px;
      display: block;
      position: absolute;
      top: 360px;
      right: -580px;
      bottom: auto;
      left: auto; }
  .problem .pencil {
    background: url("../images/pencil.png") no-repeat 0 0;
    background-size: 24px 222px;
    width: 24px;
    height: 222px;
    display: block;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 10%;
    margin: 85px 0 0 10px; }

/*----------------------------------------------------------------------------------- */
/*  Free themes */
/*----------------------------------------------------------------------------------- */
.themes {
  text-align: center;
  padding: 40px 0 0; }
  .themes .text {
    width: 100%;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 100%;
    left: auto;
    margin-bottom: 50px; }
    .themes .text p {
      max-width: 850px;
      margin: 0 auto; }
  .themes .theme-options {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: auto;
    margin-top: -170px; }
    .themes .theme-options .wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
      .themes .theme-options .wrapper .browser {
        width: 500px;
        height: 100%;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        border: 6px solid #647f32;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        box-shadow: 0 15px 0 -5px rgba(0, 0, 0, 0.08); }
        .themes .theme-options .wrapper .browser .browser-bar {
          width: 100%;
          height: 22px;
          background-color: #cccccc;
          border-bottom: 4px solid #647f32;
          display: block;
          padding-left: 6px;
          text-align: left; }
          .themes .theme-options .wrapper .browser .browser-bar span {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            display: inline-block;
            background-color: #647f32;
            top: -2px;
            position: relative; }
        .themes .theme-options .wrapper .browser.theme-1 {
          height: auto;
          margin-left: -420px;
          top: 40px;
          bottom: 40px; }
        .themes .theme-options .wrapper .browser.theme-2 {
          margin-left: -350px;
          height: auto;
          top: 20px;
          bottom: 20px; }
        .themes .theme-options .wrapper .browser.theme-3 {
          margin-left: -150px;
          height: auto;
          top: 20px;
          bottom: 20px; }
        .themes .theme-options .wrapper .browser.theme-4 {
          margin-left: -80px;
          height: auto;
          top: 40px;
          bottom: 40px; }
  .themes .logos {
    position: absolute;
    top: 100%;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
    margin-top: 45px; }
    .themes .logos img {
      margin: 0 15px; }

/*----------------------------------------------------------------------------------- */
/*  Helper classes */
/*----------------------------------------------------------------------------------- */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    display: table; }
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
